*{
  margin: 0;
}

.nav{
list-style: none;
background-color: black;
color: white;
font-family: arial;
position: fixed;
top:0;
display:100%;
width: 100%;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}
li{
  float: center;
  display: inline-block;
  padding-right: 35px;
}

#apple{
  position: relative;
  margin-left: 90px;
}
#shopping{
  postion:relative;
  margin-right: 90px;
}
#appleimg{
  height: 60px;
  width:60px;
}
a{
  text-decoration: none;
  color:white;
}
